@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #b6ecf6;
}
#logoContainer {
	text-align: center;
}
#logo {
	width: 10em;
}
h1, h3, footer {
	text-align: center;
}
#specifiedRecipient {
	display: none;
	text-align: center;
}
hr {
	width: 90%;
	border-color: #1669ab;
}
